.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.board-row {
  display: flex;
}

.row {
  margin-bottom: 20px;
  font-size: 24px;
}

.restart-btn {
  font-size: 20px;
  padding: 10px 15px;
  cursor: pointer;
}
